.profileContainer {
  background-color: #f8f8fd;
  display: flex;
}

.profile {
  width: 87%;
}

.profileBox {
  background-color: white;
  height: 950px;
  margin: 3.5%;
  border-radius: 15px;
}

.profileHeader {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileHeader img {
  width: 15%;
  height: 130px;
  border-radius: 50%;
}

.cameraButton {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  width: 100%;
}

.titleProfile {
  margin-top: 75px;
  margin-left: 40px;
  /* background-color: blue; */
}

.titleProfile p {
  font-size: 20px;
  font-weight: bold;
}

.cameraButton svg {
  margin-top: 90px;
  margin-left: -43px;
}

.profileContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}

.updateButton {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009834;
  padding: 1rem 2.5rem;
  border-radius: 30px;
  color: #f8f8fd;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin-left: 20px;
}

.backButton {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 97, 97);
  padding: 1rem 2.5rem;
  border-radius: 30px;
  color: #f8f8fd;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin-left: 20px;
}

.cancelButton svg {
  margin-right: 10px;
  font-weight: 900;
}

.nxtButton {
  display: flex;
  justify-content: flex-end;
}

.nextButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.nextButton Button {
  background-color: red;
  padding: 1rem 4rem;
  color: white;
  border-radius: 10px;
}

.subButton {
  background-color: #009834;
  padding: 1rem 2.5rem;
  margin-left: 20px;
  border-radius: 30px;
  color: #f8f8fd;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.inputContainer {
  padding: 2rem;
  display: flex;
}

.inputBox label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inputField {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 3%;
  grid-row-gap: 10px;
  /* background-color: blue; */
  width: 95%;
}
