.sidebar_container {
  width: 15%;
  margin-top: 0;
  height: 100vh;
  padding-left: 2%;
  float: left;
}

.sidebar_title {
  padding-top: 30px;
  color: rgb(83, 83, 170);
}

.sidebar_container a {
  text-decoration: none;
}

.sidebar_icons {
  flex-direction: row;
  margin-top: 6rem;
}

.sidebar_icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

.sidebar_icons ul li {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  height: 4rem;
}
.icon_container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_name {
  display: flex;
  width: 100%;
  margin-top: 3px;
}

.logout {
  margin-top: 300px;
}
.icon_name p {
  display: flex;
  width: 100%;
}

.icon {
  display: flex;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

.sidebar_icons li p {
  display: flex;
}

.sidebar_icons ul li a {
  text-decoration: none;
  color: black;
  padding-bottom: 12rem;
}

.sidebar_icons ul li a svg {
  /* margin-top: 14px;
  margin-right: 2rem; */
  font-size: 20px;
  color: black;
}

/* phone-only */

@media (max-width: 599px) {
  .sidebar_container {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 250px;
  }

  .sidebar_icons {
    flex-direction: row;
    margin-top: 50px;
    background-color: whitesmoke;
    margin-right: 0.6rem;
    border-radius: 10px;
  }
  .sidebar_icons ul {
    display: flex;
    margin: 0px;
    list-style: none;
    font-size: 16px;
  }

  .sidebar_icons ul li {
    width: 100%;
    margin: 10px;
    height: 4rem;
  }

  .sidebar_icons ul li p {
    display: none;
  }
}

/* .tablet-portrait-up  */
@media (min-width: 600px) {
}
/* tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
}
/* tablet-landscape-up */
@media (min-width: 900px) {
}
/* tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}
/* .desktop-up */
@media (min-width: 1300px) {
}
/* desktop-only */
@media (min-width: 1300px) and (max-width: 1799px) {
}

/* big-desktop-up */
@media (min-width: 1800px) {
}
