.mtn__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(255, 196, 35, 1);
  //   text-align: center;
  font-weight: bold;
}

.mtn__header__logo {
  display: flex;
  flex: 0.3;
  justify-content: flex-start;
}
.imageContainer {
  height: 80px;
  width: 100px;
}

.imageContainer img {
  height: 100%;
  width: 100%;
}

.mtn__header__text {
  display: flex;
  margin-top: 20px;
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
  margin-left: -35%;
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.mtn__header__icon {
  background: rgba(255, 196, 35, 1);
  margin-top: 23px;
}

.mtn__header__icon svg {
  font-size: 25px;
}

.mtn__header__icon a {
  text-decoration: none;
  color: black;
}

.mtn__header__icon2 p {
  margin-left: 5px;
}

.mtn__header__icon2 {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: medium;
}
