@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Poppins";
}

.sms__InputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
  justify-content: center;
}

.sms__InputContainerSM {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
}

.sms__InputContainer label {
  font-size: 13px;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.sms__InputContainer input {
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0.5rem 2rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background: white;
}

.sms__InputContainer input:read-only {
  background: whitesmoke;
}

.sms__InputContainer select {
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  background: white;
  padding: 0.5rem 2rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.sms__InputContainer textarea {
  width: 100%;
  height: 7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: white;
}

.sms__InputContainer span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sms__InputContainer input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid gainsboro;
  border-radius: 50%;
  margin: 0 1rem;
}

.sms__InputContainer input[type="radio"]:checked {
  background-color: var(--nirsalGreen);
}

.sms__InputContainer button {
  width: 100%;
  height: 4rem;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sms__InputFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}
