.firsbtn {
    width: 300px;
    height: 3rem;
    padding-left: 4rem;
    padding-top: 20px;
    padding-right: 4rem;
    padding-bottom: 1.5rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    background-color: maroon;

  }

  .btnContainer {
    margin-top: 35px;
  }
