.questionbank_btn {
  padding-top: 1rem;
}

.question_section {
  padding-top: 0.8rem;
}

.sections {
  display: flex;
  padding-bottom: 4rem;
}

.section_page label {
  font-size: 20px;
}

.section_dropdown select {
  padding: 15px 20px;
}

.section_dropdown {
  width: 40%;
  padding: 10px;
}

.section_dropdown select {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
}

.exam_dropdown {
  width: 40%;
  padding: 10px;
}

.exam_dropdown select {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
}

.question_section input {
  margin-left: 1rem;
  padding: 1rem;
}

.question_space {
  width: 78%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 13px;
  border: 1px solid lightgray;
}

.questionbank_space textarea {
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid lightgray;
  outline: none;
}

.question_container {
  width: 85%;
  height: 125vh;
  display: block;
  padding: 0.5rem 1rem;
  float: left;
  background: whitesmoke;
}

.option {
  width: 42%;
  height: 49px;
  margin: 30px;
  border-radius: 17px;
  border: 1px solid lightgray;
}

.remove_option {
  margin-left: 1rem;
}

.remove_btn {
  padding: 10px;
  border-radius: 10px;
  background: rgb(243, 43, 43);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 10px;
}

.remove_option2 {
  margin-left: 1rem;
}

.remove_btn2 {
  padding: 10px 40px;
  margin-bottom: 13px;
  width: 13%;
  border-radius: 20px;
  background: rgb(243, 43, 43);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

.remove_op {
  margin-left: 10px;
  font-size: 20px;
}

.correct {
  width: 42%;
  height: 49px;
  border-radius: 17px;
  margin: 20px;
  border: 1px solid lightgray;
}

.correct_answer input {
  padding: 10px;
  outline: none;
}

.option_space input {
  outline: none;
}

.add_question {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.add_question input {
  outline: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55acee;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

@media (max-width: 599px) {
  .question_container {
    width: 100%;
    height: auto;
    display: block;
    padding: 0.5rem 1rem;
    float: left;
    background: whitesmoke;
  }
}
